.home{
    display: flex;
    justify-content: center;
}
.home_img{
    object-fit: contain;
    width: 700px;
    margin-top: 5px;
    border-radius: 2px;
    box-shadow: 2px 2px 5px rgb(58, 57, 57);



}