.products{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 200px;
    max-height: 400px;
    min-width: 100px;
    box-shadow: 0px 0px 5px rgb(134, 134, 134);
    
    background-color: lightgrey;
    z-index: 1;
}
.rating{
    color: rgb(148, 148, 6);
    display: flex;
    font-size: 20px;
}
.product_img{
    height: 150px;
    width: 200px;


}
.product_info{
    height: 100px;
    margin-bottom: 15px;
}
.product_price{
    margin-top: 5px;
    display: flex;
    gap: 1px;

}
.products > button{
    background-color: rgb(229, 255, 0);
    border: 1px solid green;
    margin-top: 10px;
    border-color: green blue green blue;
    color: black;
    padding: 3px;
    border-radius: 5px;
}
@media  screen and (max-width:450px) {
    .products{
        width: 150px;
    }
    .product_img{
        width: 150px;
    }
    
    
}