.subtotal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 100px;
    padding: 20px;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    border-radius: 3px;
    font-weight: 600;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.subtotal_gifts{
    display: flex;
    align-items: center;
}
.subtotal_gifts > input{
    margin-right: 5px;
}
.subtotal > button{
    background-color: rgb(229, 255, 0);
    border: 1px solid green;
    margin-top: 10px;
    border-color: green blue green blue;
    color: black;
    padding: 3px;
    border-radius: 5px;
}
@media screen and (max-width:460px) {
    .subtotal{
        width: 100%;
    }
}